/**********************
       CONSTANTS
***********************/
@lightRed: #fdd;
@lightGreen: #dfd;
@lightBlue:#ddf;

/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/

@defaultThemeColor:spin(@lightBlue,200);

@borderColor:darken(desaturate(@defaultThemeColor, 50%),20%);